<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StokTakip.Properties.Settings.con" connectionString="Data Source=DEV\SQLEXPRESS;Initial Catalog=StokTakipDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StokTakip.Properties.Settings.webtasar_StokTakipDBConnectionString"
            connectionString="Data Source=2.56.152.3\MSSQLSERVER2014;Initial Catalog=webtasar_StokTakipDB;Persist Security Info=True;User ID=test2022;Password=M8u3s0!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>